In [2]:
import json
datas = []
# Open the JSON file for reading
cities = ['Bangalore', 'Chennai', 'New-Delhi', 'Hyderabad', 'Kolkata', 'Mumbai', 'Ahmedabad', 'Pune']
for i in range(1,6):
    for j in cities:
        with open(f'./dataset/BHK-{i}/{j}.json', 'r') as json_file:
            # Load JSON data into a Python dictionary
            try:
                data = json.load(json_file)
                datas.extend(data["datas"])
            except Exception as e:
                print("skipped")

skipped

In [3]:
len(datas)

141428

In [10]:
import pandas as pd
df = pd.DataFrame(datas)
print("============== Sample Data ==============")
df.head(5)

============== Sample Data ==============

,title,price,card summary,card list,more details,amenities
0,"1 BHK 870 Sq-ft Flat For Sale Kanakapura Road,...",₹68.3 Lac,"{'bed': '1', 'bath': '1', 'covered-parking': '...","{'Super Built-up Area': '870', 'Developer': 'T...",{'Price Breakup': '₹68.3 Lac | ₹4 Per sq. Unit...,"[Power Back Up, Lift, Rain Water Harvesting, C..."
1,1 BHK 970 Sq-ft Flat For Sale Thanisandra Main...,₹89.0 Lac,"{'bed': '1', 'bath': '1', 'unfurnished': ''}","{'Super Built-up Area': '970', 'Developer': 'G...",{'Price Breakup': '₹89 Lac | ₹5 Per sq. Unit M...,"[Power Back Up, Lift, Rain Water Harvesting, C..."
2,"1 BHK 684 Sq-ft Flat For Sale Kanakapura Road,...",₹60.0 Lac,"{'bed': '1', 'bath': '1', 'unfurnished': ''}","{'Super Built-up Area': '684', 'Developer': 'P...","{'Price Breakup': '₹60 Lac | ₹20,000 Yearly', ...","[Power Back Up, Lift, Club House, Swimming Poo..."
3,1 BHK 692 Sq-ft Flat For Sale Thanisandra Main...,₹69.2 Lac,"{'bed': '1', 'bath': '1', 'covered-parking': '...","{'Super Built-up Area': '692', 'Developer': 'B...","{'Price Breakup': '₹69.2 Lac', 'Booking Amount...","[Power Back Up, Lift, Gymnasium, Park, Securit..."
4,"1 BHK 790 Sq-ft Flat For Sale Sarjapur, Bangalore",₹35.5 Lac,"{'bed': '1', 'bath': '1', 'covered-parking': '...","{'Super Built-up Area': '790', 'Developer': 'R...","{'Price Breakup': '₹35.5 Lac', 'Booking Amount...","[Power Back Up, Lift, Club House, Swimming Poo..."

In [23]:
df.to_csv("./data.csv")

In [24]:
df.to_json("./data.json")